.MainWrapper {
  display: grid;
  grid-template-columns: 33.33% 66.67%;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  margin-bottom: 40px;
}

@media (max-width: 778px) {
  .MainWrapper {
    display: flex;
  }
}
