.Header {
  text-align: center;
  margin: 20px 0;
  border-top: 1px solid #c5c5c5;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}
.Wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  background: whitesmoke;
}

.WrapperItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 30px 0;
  background: white;
  padding: 10px;
}

.ProductWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
  gap: 20px;
  flex-grow: 1;
  padding: 0 0 0 20px;
}

.ProductID {
  color: rgb(44, 44, 44);
}

.ProductName {
  font-size: 24px;
  max-width: 280px;
}

.PriceWrapper h3 {
  font-size: 24px;
  padding-right: 10px;
}

.UnderlineWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  max-width: 300px;
  align-self: center;
  border-top: 1px solid rgb(151, 151, 151);
  margin-bottom: 50px;
}

.SumWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  width: 300px;
  align-items: flex-end;
  margin-top: 20px;
}

.SumText {
  color: rgb(122, 122, 122);
  line-height: 28px;
}

.SumNumber {
  font-size: 24px;
  font-weight: 600;
}

.OrderButton {
  color: white;
  width: 70%;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: #26397f;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 40px;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  padding: 20px;
}

.OrderButton:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.OrderButton:hover .OrderButton:disabled {
  cursor: initial;
}

.DeleteButton {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 22px;
  color: white;
  background-color: rgb(187, 50, 50);
  transform: rotate(45deg);
  cursor: pointer;
  border: none;
}

.DeleteButton:hover {
  transition: 0.5s;
  transform: rotate(135deg);
}
