.SubHeaderWrapper {
  display: grid;
  grid-template-columns: 33.33% 66.67%;
  max-width: 1200px;
  margin: auto;
  height: 100px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.imagesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
